img {
	width:100%;
	height:auto%;
	border: 5px solid #000;
	box-sizing:border-box;
}

body {
/*	background-color: lightgray;*/
	background-image: linear-gradient(to right, dimgray, lightblue);
	margin:0px;
}


/*h2 {
	margin:20px;
	display:inline;
}*/

.container2 {
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;
	align-items:center;
	font-family: "Times New Roman", Times, serif;
}

.container1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Times New Roman", Times, serif;
	padding: 0px 4em 0px 4em;
}

